<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <title>chat-hub</title>
    
  </head>
  <body>

<h1>hi</h1>
<h2><span id="count">0</span>users connected</h2>
 <form method="post" action="#" id="page_form">
        <label>TEXT</label>
        <input type="text" id="name" name='name'></input>
        <label>room</label>
         <input type="text" id="room" name='room'></input>
        <input type="submit" value="Submit"></input>
    </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat' );
                socket.on('msg', function(msg) {
                  var x = parseInt( $('#count').html(),10);
                    if (msg.count=='0')
                      ( 
                        $('#count').html(x+1)
                        )
                   
                  });
                    
              
      });
      
      </script>


</body>

</html>